* 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    margin: 0px;
}
main 
{
    display: flex;
    padding-bottom: 200px;
}
p 
{
    text-align: center;
}
h1
{
    text-align: center;
}
li 
{
    text-align: center;
    list-style-type: none;
}
ol
{
    text-align: center;
    list-style-type: none;
}
a
{
    text-align: center;
    margin: 0px 20px 0px 20px;
}
a:link, a:visited
{
    color: rgb(0, 0, 0);
}
a:hover
{
    color: grey; 
}
a:active 
{
    color: floralwhite;
}
iframe
{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.header
{
    background-color:ghostwhite;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.website-logo-image
{
}
.left-section 
{
    background-color:ghostwhite;
    display: inline-block;
    width: 25%;
}
.recipie-list
{
    border: solid;
    border-width: thin;
    font-size: 24px;
    list-style-type: none;
}
.ingredients-storage-list
{
    border: solid;
    border-width: thin;
    list-style-type: none;
}
.amount-selector
{
    display: inline;
    visibility: hidden;
}
.middle-section {
    background-color: ghostwhite;
    display: inline-block;
    width: 49%;
    border: solid;
    border-width: thin;
    padding-left: 10px;
    padding-right: 10px;
}
.recipe-title
{
    font-size: 24px;
}
.recipe-description
{
    font-style: italic;
    font-size: 16px;
    display: flex;
}
.steps-images
{
    display: flex;
    justify-content: space-evenly;
}
.preview-recipe-image
{
    width: 33%;
    height: 33%;
    border-radius: 5px;
}
.step-image
{
width: 20%;    
height: 20%;
border-radius: 100%;
margin-bottom: 50px;
}

.recipe-content {
    list-style-type: numbers;
    list-style-position: inside;
}
.right-section
{
    background-color: ghostwhite;
    display: inline-block;
    width: 25%;
}
.timer-section
{
    position: relative;
    width: 100%;
    padding-top: 28.1%; /* 16:9 Aspect Ratio would be 56.25 percent. (divide 9 by 16= 0-5625) */ 
    padding-bottom: 28.1%;
    border: solid;
    border-width: thick;
    height: 0;
    
}
.ingredients-needed-list
{
    border: dotted;
    border-width: medium;
}
.button
{
    
    background-color: lime;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 20px;
    display: block;
    font-weight: bolder;
    box-shadow: 1px 2px 1px 1px;
}
    .button:hover {
        cursor: pointer;
        background-color: limegreen;
        border-radius: 5%;
        padding: 10px 10px 10px 10px;
        margin: 20px auto 20px;
        display: block;
        font-weight: bolder;
        box-shadow: 1px 2px 1px 1px;
    }
    .button:active
    {
        cursor: pointer;
        background-color: limegreen;
        border-radius: 5%;
        padding: 10px 10px 10px 10px;
        margin: 20px auto 20px;
        display: block;
        font-weight: bolder;
        box-shadow: 0px 0px 0px 0px;
    }
.delete-item-button
{
    background-color: rgb(237, 66, 66);
    color: ghostwhite;
    margin-left: 2px;
    font-weight: bolder;
    box-shadow: 1px 2px 1px 1px;
}
.delete-item-button:hover
{
    cursor: pointer;
    background-color: rgb(143, 14, 14);
    margin-left: 2px;
    font-weight: bolder;
    box-shadow: 1px 2px 1px 1px;
}
.delete-item-button:active
{
    cursor: pointer;
    background-color: rgb(143, 14, 14);
    margin-left: 2px;
    font-weight: bolder;
    box-shadow: 0px 0px 0px 0px;
}

.footer
{
    display: block;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
    .popup
    {
        z-index: 999;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }
    .popup-content
    {
        height: 200px;
        width: 400px;
        background: ghostwhite;
        padding: 20px;
        border-radius: 5px;
        position: relative;
        display: inline-block;
    }
    .close-window
    {
        text-align: end;
        cursor: pointer;
        display: flex;
    }
    .ingredient-type-text
    {

    }
    .selector-container
    {
        display: flex;
        justify-content: space-between;
    }