* 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    margin: 0px;
}
main 
{
    display: flex;
    padding-bottom: 200px;
}
p 
{
    text-align: center;
}
h1
{
    text-align: center;
}
li 
{
    text-align: center;
}
a
{
    text-align: center;
    margin: 0px 20px 0px 20px;
}
a:link, a:visited
{
    color: rgb(0, 0, 0);
}
a:hover
{
    color: grey; 
}
a:active 
{
    color: floralwhite;
}
.header
{
    background-color:ghostwhite;
    padding: 10px 0px 10px 0px;
}
.left-section 
{
    background-color:ghostwhite;
    display: inline-block;
    width: 25%;
}
.recipie-list
{
    border: solid;
    border-width: thin;
    font-size: 24px;
}
.ingredients-storage-list
{
    border: solid;
    border-width: thin;
}
.middle-section {
    background-color: ghostwhite;
    display: inline-block;
    width: 49%;
    border: solid;
    border-width: thin;
    padding-left: 10px;
    padding-right: 10px;
}
.recipe-title
{
    font-size: 24px;
}
.recipe-description
{
    font-style: italic;
    font-size: 12px;
}
.recipe-content {
    list-style-type: numbers;
    list-style-position: inside;
}
.right-section
{
    background-color: ghostwhite;
    display: inline-block;
    width: 25%;
}
.timer-section
{
    border: solid;
    border-width: thick;
}
.ingredients-needed-list
{
    border: dotted;
    border-width: medium;
}
.button
{
    
    background-color: lime;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 20px;
    display: block;
    font-weight: bolder;
    box-shadow: 1px 2px 1px 1px;
}
    .button:hover {
        cursor: pointer;
        background-color: limegreen;
        border-radius: 5%;
        padding: 10px 10px 10px 10px;
        margin: 20px auto 20px;
        display: block;
        font-weight: bolder;
        box-shadow: 1px 2px 1px 1px;
    }
    .button:active {
        cursor: pointer;
        background-color: limegreen;
        border-radius: 5%;
        padding: 10px 10px 10px 10px;
        margin: 20px auto 20px;
        display: block;
        font-weight: bolder;
        box-shadow: 0px 0px 0px 0px;
    }


.footer
{
    display: block;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
    .popup
    {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visable;
    }
    .popup-content
    {
        height: 200px;
        width: 400px;
        background: ghostwhite;
        padding: 20px;
        border-radius: 5px;
        position: relative;
    }
    .close-window
    {
        text-align: end;
        cursor: pointer;
    }